@{
    ViewData["Title"] = "About";
}

<div class="container text-center">
    <h1 class="display-4">About Player Base</h1>
    <p>
        The background of Player Base comes from my experience of difficulty I had finding a hockey team to play for after becoming too old to play in organized youth leagues.
        It was difficult because currently there is no popular platform to find reliable teams or players to play for your team.
        I’ve come across many people that have wanted to get back into sports but they either don’t know enough people to get a team together or don’t know where to look to find a team to play for.
        The goal of this Player Base is to make that search easier while keeping the team organized.
        Here, you can create a team, find a team to play for, track player stats, and schedule events for your team that you've created.
    </p>

    <p>
        Contact: <a href="mailto:playerbase@hotmail.com">Email Us</a>
    </p>
</div>