@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to Player Base</h1>
    <p>
        200 foot game. We wanna move the puck north south not east west. High forward. Your goalie has to be your best penalty killer. Do the little things. Dished it to the point for a one-timer. It's a must win tonight. They've got jam. Play the full 60.
        Get your flippers off and let's go. Turned the jets on. Turned the jets on. Get pucks deep, get pucks to the net and y'know *sniff*...win some hockey games. Get pucks deep, get pucks to the net and y'know *sniff*...win some hockey games. Trust the process. Well we had a tough time gettin' out of our end. Silky mittens Obviously uhh
        House on skates. Y'know They've got jam. Through a sea of bodies. You've got to have a good stick. It was a team effort. High forward. Winning puck battles. It's a must win tonight.
        That's an unfortunate play there. Y'know Dished it to the point for a one-timer. Y'know Obviously uhh Y'know A good outlet pass. Role players. Winning puck battles.
    </p>

    <img src="https://images.unsplash.com/photo-1515703407324-5f753afd8be8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="outdoor rink" class="img-fluid">
</div>
