<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7d8dbd1c-ef74-4c5f-afae-8628eb974c94/resourceGroups/PlayerBase320201002175624ResourceGroup/providers/Microsoft.Web/sites/PlayerBase320201002175624</ResourceId>
    <ResourceGroup>PlayerBase320201002175624ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://playerbase320201002175624.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://playerbase320201002175624.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>0a66322f-6aba-4578-9e20-00b844ff75d9</ProjectGuid>
    <MSDeployServiceURL>waws-prod-yq1-005.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlayerBase320201002175624</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PlayerBase320201002175624</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>