@model PlayerBase_3.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label"></label>
                <input asp-for="HomeTeamId" class="form-control" />
                <span asp-validation-for="HomeTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamId" class="control-label"></label>
                <input asp-for="AwayTeamId" class="form-control" />
                <span asp-validation-for="AwayTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeGoals" class="control-label"></label>
                <input asp-for="HomeGoals" class="form-control" />
                <span asp-validation-for="HomeGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayGoal" class="control-label"></label>
                <input asp-for="AwayGoal" class="form-control" />
                <span asp-validation-for="AwayGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="League" class="control-label"></label>
                <input asp-for="League" class="form-control" />
                <span asp-validation-for="League" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
